<div class="portfolio-wrap">
    <!-- Replace the image source and href with your university data -->
    <a href="src/assets/img/portfolio/app-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox">
    <img src="../../assets/img/portfolio/app-1.jpg" class="img-fluid" alt="{{ university.nomUniversite }}">
    </a>
    <div class="portfolio-info">
        <!-- Display university details -->
        <h4><a href="portfolio-details.html" title="More Details">{{ university.nomUniversite }}a full name</a></h4>
        <p>{{ university.adresseUniversite }}the addreqss of th universit</p>
    </div>
</div>