.modal {
    border-radius: 3%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    height: 30%;
    width: 500px; /* Set the desired width */
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  // Add the following styles to center the modal vertically and horizontally
  .modal.active {
    display: block;
  }
  
  .overlay.active {
    display: block;
  }
  