<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row" *ngIf="reservation.state==='AWAITING'">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                    <button type="button"  (click)="changeState('CONFIRMED')" class="btn btn-success btn-block">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                    <button type="button"  (click)="changeState('REJECTED')" class="btn btn-danger btn-block">Reject</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-xl-3 offset-lg-6 col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                    <button type="button" (click)="showModalf()"class="btn btn-primary btn-block">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="reservation.state!='AWAITING'">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                    <div *ngIf="reservation.state==='CONFIRMED'" type="button" class="btn btn-success btn-block" style="pointer-events: none;">{{ reservation.state }}</div>
                    <div *ngIf="reservation.state==='REJECTED'" type="button" class="btn btn-danger btn-block" style="pointer-events: none;">{{ reservation.state }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="offset-xl-6 offset-lg-12 col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col text-center">
                    <button type="button" (click)="showModalf()" class="btn btn-primary btn-block">Delete</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3">Chambre</h1>
      </div>
      <div class="col-xl-6 mb-3">
        <div class="card card-body shadow">
          <div class="row">
            <div class="col">
              <div>
                <p class="">Numero Chambre:</p>
                <p class="">Type Chambre:</p>
                <p class="">Number of People in Chambre:</p>
              </div>
            </div>
            <div class="col">
              <div>
                <p class="text-right">{{ chambre.numeroChambre }}</p>
                <p class="text-right">{{ chambre.typeC }}</p>
                <p class="text-right">{{ numberErudiantForChambre }}</p>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h1 class="mb-3">Etudiant(s)</h1>
      </div>
      <div class="col-xl-4 col-lg-6" *ngFor="let etudiant of reservation.etudiantList">
        <div class="card card-body shadow">
          <div class="row">
            <div class="col">
              <div>
                <p class="">Nom:</p>
                <p class="">Prenom:</p>
                <p class="">CIN:</p>
                <p class="">Date:</p>
                <p class="">Ecole:</p>
              </div>
            </div>
            <div class="col">
              <div>
                <p class="text-right">{{ etudiant.nomEt }}</p>
                <p class="text-right">{{ etudiant.prenomET }}</p>
                <p class="text-right">{{ etudiant.cin }}</p>
                <p class="text-right">{{ etudiant.dateNaissance }}</p>
                <p class="text-right">{{ etudiant.ecole }}</p>
              </div>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div id="customModal" class="modal text-center" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
    <div class="card-body">
      <p class="card-text fw-bold">Do you want to delete this Reservation ?</p>
        <button class="btn btn-success btn-block" (click)="deleteItem()">Yes</button>
        <button class="btn btn-danger btn-block" (click)="closeModalf()">No</button>
    </div>
</div>

<!-- Overlay background -->
<div id="overlay" class="overlay" [ngStyle]="{'display': showModal ? 'block' : 'none'}"></div>
