<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">ALL</h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div
                    class="cursor-pointer icon icon-shape bg-danger text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Awaiting
                  </h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div
                    class="cursor-pointer icon icon-shape bg-warning text-white rounded-circle shadow"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Confirmed
                  </h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div
                    class="cursor-pointer icon icon-shape bg-yellow text-white rounded-circle shadow"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">
                    Rejected
                  </h5>
                  <span class="h2 font-weight-bold mb-0"></span>
                </div>
                <div class="col-auto">
                  <div
                    class="cursor-pointer icon icon-shape bg-info text-white rounded-circle shadow"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="card p-5 offset-1 col-lg-10">
      <div class="row">
        <div *ngIf="selected_universite != null" class="col-2">> {{ selected_universite.nomUniversite }} > {{ foyer.nomFoyer }} </div>
        <div *ngIf="selected_bloc != null" class="col-2">> {{ selected_bloc.nomBloc }}</div>  
        <div *ngIf="selected_chambre != null" class="col-2">> {{ selected_chambre.numeroChambre }}</div>  
      </div>
      <div class="row">
        <div *ngFor="let uni of universites" class="col">
          <button (click)="selectuni(uni)">{{ uni.nomUniversite }}</button>
        </div>  
      </div>
      <div class="row">
        <div *ngIf="foyer != null" class="col">
          <button >{{ foyer.nomFoyer }}</button>
        </div>  
      </div>
      <div class="row" *ngIf="foyer != null">
        <div *ngFor="let bloc of foyer.blocList" class="col">
          <button (click)="selectbloc(bloc)">{{ bloc.nomBloc }}</button>
        </div>
      </div> 
      <div class="row" *ngIf="blocs != null">
        <div *ngFor="let chambre of selected_bloc.chamberList" class="col">
          <button (click)="selectchambre(chambre)">{{ chambre.numeroChambre }}</button>
        </div>
      </div>  
    </div>
  </div>
</div>
